.html{
    width: 223px;
    height: 58px;
    position: absolute;
    top: 25px;
    left: 50px;
    display: inline-block;
}
.main{
    display: inline-block;
    width: 115px;
    height: 25px;
    margin-top: 45px;
    margin-left: 400px;
    font-weight: 700;
    font-size: 26px;
    color: #4E6FAE;
    text-decoration: none;
}

.news{
    width: 150px;
    height: 34px;
    text-decoration: none;
    margin-top: 45px;
    margin-left: 100px;
    display: inline-block;
    font-size: 26px;
    font-weight: 700;
    color: #8D81FF;
}
.contact{
    width: 133px;
    height: 34px;
    text-decoration: none;
    margin-top: 45px;
    margin-left: 100px;
    font-size: 26px;
    font-weight: 700;
    color: #8D81FF;
    display: inline-block;

}
.purple{
    background-color: #5012D5;
    width: 50px;
    height: 50px;
    margin-top: 70px;
    margin-left: 50px;

}
.number{
    width: 31px;
    height: 34px;
    font-size: 24px;
   font-weight: 400;
    line-height: 27.6px;
    color: #84FF81;
    padding-top: 12px;
    padding-left: 12px;
}
.month{
    width: 70px;
    height: 34px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: #8D81FF;
    margin-top: 9px;
    margin-left: 50px;
    display: block;
}
.content{
    width: 646px;
    height: 34px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    color: #4E6FAE;
    display:block;
    margin-top: 12px;
    margin-left: 50px;
 
}
.code{
    width: 447px;
    height: 280px;
    margin-top: 10px;
    margin-left:50px;
display: inline-block;

}
.information{
    width: 778px;
    height: 281px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    color: #4E6FAE;
    display: inline-block;
    margin-left: 40px;
    margin-top: 10px;
    vertical-align: top;

}
.purple-2{  background-color: #5012D5;
    width: 50px;
    height: 50px;
    margin-top: 150px;
    margin-left: 50px;
}
.number-2{width: 31px;
    height: 34px;
    font-size: 24px;
   font-weight: 400;
    line-height: 27.6px;
    color: #84FF81;
    padding-top: 12px;
    padding-left: 12px;}

.month-2{ width: 70px;
    height: 34px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: #8D81FF;
    margin-top: 12px;
    margin-left: 50px;
    display: block;}
    .web-developer{width: 646px;
        height: 34px;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: #4E6FAE;
        display:block;
        margin-top: 12px;
        margin-left: 50px;
    }
.tag{
    width: 447px;
    height: 280px;
    margin-top: 12px;
    margin-left: 50px;
    display: inline-block;
}
#content{
    width: 778px;
    height: 280px;
    margin-top: 12px;
    font-size: 16px;
    color: #4E6FAE;
    font-weight: 400;
    line-height: 19.2px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
}
.purple-3{ background-color: #5012D5;
    width: 50px;
    height: 50px;
    margin-top: 150px;
    margin-left: 50px;}
.number-3{width: 31px;
    height: 34px;
    font-size: 24px;
   font-weight: 400;
    line-height: 27.6px;
    color: #84FF81;
    padding-top: 12px;
    padding-left: 12px;
    display: block;
}
.month-3{ width: 70px;
    height: 34px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    color: #8D81FF;
    margin-top: 12px;
    margin-left: 50px;
    display: block;}
.development{
    width: 646px;
        height: 34px;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        color: #4E6FAE;
        display:block;
        margin-top: 12px;
        margin-left: 50px;
}
.laptop{
    width: 447px;
    height: 280px;
    margin-top: 12px;
    margin-left: 50px;
    display: block;
}
.developer{ width: 1021px;
    height: 148px;
    margin-top: 35px;
    font-size: 16px;
    color: #4E6FAE;
    font-weight: 400;
    line-height: 19.2px;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    
}
.facebook{
    width: 50px;
    height: 50px;
    margin-top: 135px;
    margin-left: 50px;
    display: inline-block;
}
.line{width: 2px;
height: 48px;
background-color: #5012D5;
display: inline-block;
margin-left: 35px;}
.youtube{width: 71px;
height: 49px;
 margin-left: 35px;}



